a, a:link
  cursor pointer

body
  padding-top 60px
  background-color: black
  background-image: url(/img/drops.svg)
  background-size: 25%

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

footer
  padding-bottom: 30px
