--- yaml
layout: 'default'
title: 'Welcome'
---

// Main hero unit for a primary marketing message or call to action.
//- .jumbotron

.col-sm-12
  h1 Neon Armada
  p A transparent umbrella startup for an armada of passionate players, performances and practice!
  p We strive to learn and teach the skills and tricks we dream of and want to promote it in the brightest light.